{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-sm-6">
    <h1>All products</h1><br />
    {% for product in products %}
      <h5>
        <li>
      <a class= "main-font text-dark" href = "{{url_for('showproduct', product_id = product.id)}}">{{ product.name }}</a><br />
        </li>
      </h5>
     {% endfor %} 
    </div>
    <div class="col-sm-6 text-center">
        <h3>Search a product</h3>
       <form method = "POST" action = "/">  
        <input type="text" id="states" class = "form-control" name="prod" list="prod-list">
        <datalist id="prod-list">
             {% for product in products %}
            <option value="{{ product.name }}">
            {% endfor %} 
        </datalist>
        <br />
        <button class= "main-font btn btn-danger text-dark" >SEARCH</button>
       </form>    
       <br />
       <img src="/static/images/pi.png"><
    </div>
</div>    

{% endblock %}