{% extends 'layout.html' %}

{% block body %}
<div class="row">
  <div class="col-sm-6 p-3">
    <h1>{{product.name}}</h1>
    <br />
    <h3>Rs.{{ product.price }}</h3>
    <br /><br />
    <h5><p>{{product.description|safe}}</p></h5>
  </div>
  <div class="col-sm-6 p-3 ">
    <img src="{{product.image_path}}">
    <form method = "POST" action = "{{url_for('showproduct', product_id = product.id)}}">
        <div class = "form-group p-3">
          <br /><br />
        <h5>Want these details in your mail? Enter your email id below:</h5>
             <h5>Name:</h5>
              <input class = "form-control" type = "text" size = "30" name = "name">
              <h5>Email:</h5>
              <input class = "form-control" type = "text" size = "30" name = "emailid">
              <button class = "btn btn-lg btn-info btn-block main-font" type = "submit">GET MAIL</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}